@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

.header {
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(135, 206, 250);
    font-family: 'Jura', sans-serif; 
}

#logo {
    width: 50px;
    float: left;
    background: transparent;
    border: 0;
    margin-right: 20px;
}