@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200&family=Oswald:wght@300&display=swap');

#run-records-title {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Krub', sans-serif;
}